
 


 *{
    margin: 0%;
    padding: 0%;
} 



.login{
    margin-left: 70px;
    position: relative;
    bottom: 19px;
}

 .page-header{
    background-color:lightgray;
    border: none;
    height: 90px;
    position: relative;
    text-align: center;
 }


.live{
    padding-right: 50px;
    color: black;
    position: relative;
    top: 20px;
    right: 36px;
}

.memberships{
    padding-right: 50px;
    color: black;
    position: relative;
    top: 20px;
    right: 36px;
}
   

.plans{
    padding-right: 50px;
    color: black;
    position: relative;
    top: 20px;
    right: 36px;
  
}

.more{
    padding-right: 50px;
    color: black;
    position: relative;
    top: 20px;
    right: 36px;

}

.icon{
    margin-left: 86%;
    margin-top: -22px;
}

.heiding{
    margin-top: 100px;
    margin-left: 70px;
    position: relative;
    top: 50px;
}

.all{
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    top: 20px;
    margin-left: 40px;     
}

.para{
    color: aliceblue;
    position: relative;
    top: 10px;
    font-size: large;
}

.moviebox{
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.moviecard{
    position: relative;
    width: 60%; 
    height: 300px; 
    border-radius: 4px;
    transition: width 0.2s;
}

.thumb,.hero,.movietext{
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0; 
    border-radius: 2px;
}

.thumb{
    opacity: 1;
}

.hero{
    opacity: 0;
}
.movietext{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;  
    color: white;
    font-size: larger;
}


.moviecard:hover,
.moviecard:hover .thumb,
.moviecard:hover .hero,
.moviecard:hover .movietext{
    width: 100%;
}


.moviecard:hover.thumb{
    opacity: 0;
}
.moviecard:hover.hero{
    opacity: 1;
} 

.moviecard:hover.movietext{
    z-index: 1000;
    opacity: 1;
} 

.moviecard:hover.movietext{
    z-index: 100;
}  
 .movietext:hover p{
    color: white;
}
.movietext:hover a{
    color: red;
    background-color: brown;
    border-radius: 5px ;
    padding:5px 10px ;
    text-decoration: none;
}  
